{:format :zblorb
 :name "futurama"
 :sources
 {:main ["src/scenes/*.dg"
         "src/characters/*.dg"
         "src/locations/*.dg"
         "src/actions/*.dg"
         "src/*.dg"]
  :debug ["lib/debug/*.dg"
          "lib/tc/debug/*.dg"
          "lib/dialog/debug/stddebug.dg"]
  :library ["lib/*.dg"
            "lib/tc/*.dg"
            "lib/dialog/stdlib.dg"]}}
