{:story-sources [#_ "src/scenes/*.dg"
                 #_ "src/characters/*.dg"
                 "src/*.dg"
                 "src/characters/*.dg"
                 "src/locations/*.dg"
                 #_ "src/actions/*.dg"]
 :debug-sources ["lib/debug/*.dg"
                 {:github "hlship/threaded-conversation"
                  :version "v0.6"
                  :path "lib/tcdebug.dg"}
                 "/usr/local/share/dialog-if/stddebug.dg"]
 :library-sources ["lib/*.dg"
                   {:github "hlship/threaded-conversation"
                    :version "v0.6"
                    :path "lib/tc.dg"}
                   "/usr/local/share/dialog-if/stdlib.dg"]}
