{:sources
 {:story ["src/scenes/*.dg"
          "src/characters/*.dg"
          "src/locations/*.dg"
          "src/actions/*.dg"
          "src/*.dg"]
  :debug ["lib/debug/*.dg"
          "lib/tc/debug/*.dg"
          "/usr/local/share/dialog-if/stddebug.dg"]
  :library ["lib/*.dg"
            "lib/tc/*.dg"
            "/usr/local/share/dialog-if/stdlib.dg"]}}
